* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---- LINKS A HREF TEXT ---- */
.links{
  color:white;
  text-decoration: none;
}

/* ---- HEADER ---- */
header {            
  background: #333;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
/* ---- TOP LINE ----*/
#top-line{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom:0.5rem;
}
#social{
  display: flex;
  font-size: 1.5rem;
  gap: 0.2rem;
}
header i {
  color:white;
}
header i:hover{
  animation: fa-spin 2s linear infinite;
}
 @media (max-width: 28rem){   /* 37rem=37*16px=592px */
  #top-line {
    flex-direction: column;    /* ułóż w kolumnie */
    align-items: center;       /* wyśrodkuj */
    text-align: center;
    gap: 10px;
  }
}
/* ---- NAVIGATION LINE ---- */
header nav {
  display: flex;      
  flex-wrap: wrap;
  gap: 1rem;               /* space between items */
  justify-content: center; /* horizontal alignment*/
}
header nav a {
  padding: 0.5rem 1rem;     /* top right bottom left*/
  border-radius: 0.3rem;
  transition: background 0.3s ease; /* smooth hover effect */
}
header nav a:hover {
  background: #555;  
}



/* ---- FOOTER ---- */
footer {
  background-color: #222;
  color: #fff;
  padding:1rem;
}
#copyright-section {
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap:0.3rem;
}
#copyright-section a:hover {
  color: #c3c3c3;
}
#copyright-section a:hover #copyright-icon {
  animation: fa-bounce 0.8s;
}

/* main */
main {
  padding:1rem;
}

