* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---- HEADER ---- */
/* ---- FIRST LINE ----*/
header {            
  background: #333;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#top-line{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
#name{
  margin-right: auto;
}
#social{
  margin-left: auto;
  display: flex;
  
}
header i {
  color:white;
}

/* ---- NAVIGATION LINE ---- */
header nav {
  display: flex;      
  gap: 1rem;               /* space between items */
  justify-content: center; /* horizontal alignment*/
}

.links{
  color:white;
  text-decoration: none;
}



header nav a {
    padding: 0.5rem 1rem;     /* top right bottom left*/
}

header a { 
  border-radius: 0.3rem;
  transition: background 0.3s ease; /* smooth hover effect */
}

header a:hover {
  background: #555;  
}


/* ---- FOOTER ---- */
footer {
  background-color: #222;
  color: #fff;
  padding:1rem;
}

footer a {
  height: 1rem;
}

footer img {
  height:1rem;
  width:1rem;
}

.copyright {
  display:flex;
  align-items: center;
  justify-content: center;
  gap:0.3rem;
}

