<header>
    <div id="top-line">        
        <a href="/" class="links" id="name"><h1>Mikołaj Wybacz</h1></a>
        <div id="social">
            <a href="https://www.youtube.com/@mecowhy2201" class="links" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/mecowhy2201?igsh=MWdqd20xbjkzOXBhOQ==" class="links" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100004851826024" class="links" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/miko%C5%82aj-wybacz-072284189/" class="links" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/meco-why/Web" class="links" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i></a>
        </div>
    </div>
   
    <nav>
        <a href="/" class="links">Home</a>
        <a href="/DE_INVENTIONE" class="links">DE INVENTIONE</a>
        <a href="/physics_timeline" class="links">Physics Timeline</a>
        <a href="/Hora_inmensa" class="links">Hora inmensa</a>
        <a href="/IPA" class="links">IPA</a>
        <a href="/PLAN" class="links">PLAN AGH</a>

    </nav>
</header>
