<header>
    <div id="top-line">

        <h1>
            <a href="/" class="links-white" id="name">Mikołaj Wybacz</a>
        </h1>        
        
        <div id="social">
            <a href="https://www.youtube.com/channel/UCXCmBdBhyWbpjSAGguDQkfA" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/mecowhy2201/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004851826024/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/miko%C5%82aj-wybacz-072284189/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/meco-why/Web/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
   
    <nav>
        <a href="/" class="links-white">Home</a>
        <a href="/DE_INVENTIONE" class="links-white">DE INVENTIONE</a>
        <!-- <a href="/physics_timeline" class="links-white">Physics Timeline</a> -->
        <a href="/Hora_inmensa" class="links-white">Hora inmensa</a>
        <!-- <a href="/IPA" class="links-white">IPA</a> -->
        <a href="/POLECAJKI" class="links-white">POLECAJKI</a>
        <a href="/PLAN" class="links-white">PLAN AGH</a>
        <a href="/PSM" class="links-white">PSM</a>

    </nav>
</header>
