
<footer>



    <p id="copyright-section">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-creative-commons"></i>
            <i class="fa-brands fa-creative-commons-by"></i>
            <i class="fa-brands fa-creative-commons-nc"></i>
            <i class="fa-brands fa-creative-commons-sa"></i>
            <i class="fa-regular fa-copyright" id="copyright-icon"></i>
            2025&ndash;<span id="current-year"></span> Mikołaj Wybacz
        </a>
    </p>

    

</footer>