<!-- 
<footer>
    <p id="contact">
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i>Youtube</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook"></i>Facebook</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>Instagram</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>Linkedin</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>Github</a>
        <a href="https://orcid.org/0009-0003-1435-4774" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-orcid"></i>ORCiD</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-researchgate"></i>ResearchGate</a>
        <a href="" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i>Academia</a>
    </p>
    <p id="copyright-section">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-creative-commons"></i>
            <i class="fa-brands fa-creative-commons-by"></i>
            <i class="fa-brands fa-creative-commons-nc"></i>
            <i class="fa-brands fa-creative-commons-sa"></i>
            <i class="fa-regular fa-copyright" id="copyright-icon"></i>
            2025&ndash;<span id="current-year"></span> Mikołaj Wybacz
        </a>
    </p>
</footer> -->

<footer>
    <div class="footer-content">
        
        <!-- KOLUMNA 1: SOCIAL MEDIA -->
        <div class="footer-column">
            <!-- <h3 class="footer-heading">Social Media & IT</h3> -->
            <ul class="footer-links-list">
                <li>
                    <a href="https://www.youtube.com/channel/UCXCmBdBhyWbpjSAGguDQkfA" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-youtube"></i><span>Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100004851826024/" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook"></i><span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mecowhy2201/" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram"></i><span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/meco-why" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github"></i><span>Github</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- KOLUMNA 2: PROFIL NAUKOWY -->
        <div class="footer-column">
            <!-- <h3 class="footer-heading">Profil Naukowy</h3> -->
            <ul class="footer-links-list">
                <li>
                    <a href="https://www.linkedin.com/in/mikolaj-wybacz/" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin"></i><span>Linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="https://orcid.org/0009-0003-1435-4774" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-orcid"></i><span>ORCiD</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="" class="grid-link links-white-grey" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-researchgate"></i><span>ResearchGate</span>
                    </a>
                </li> -->
            </ul>
        </div>

    </div>


    <!-- SEKCJA PRAW AUTORSKICH -->
    <div id="copyright-section">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="links-white-grey" target="_blank" rel="noopener noreferrer">
            <span class="cc-icons">
                <i class="fa-brands fa-creative-commons"></i>
                <i class="fa-brands fa-creative-commons-by"></i>
                <i class="fa-brands fa-creative-commons-nc"></i>
                <i class="fa-brands fa-creative-commons-sa"></i>
            </span>
            <span class="copyright-text">
                <i class="fa-regular fa-copyright" id="copyright-icon"></i> 2025&ndash;<span id="current-year"></span> Mikołaj Wybacz
            </span>
        </a>
    </div>
</footer>