<header>
    <!-- top line -->
    <div id="top-line">
        <h1>
            <a href="/" class="links-white" id="name">Mikołaj Wybacz</a>
        </h1>        
        
        <div id="social">
            <a href="https://www.youtube.com/channel/UCXCmBdBhyWbpjSAGguDQkfA" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/mecowhy2201/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004851826024/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/miko%C5%82aj-wybacz-072284189/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</header>

<!-- Nawigacja jest teraz OSOBNYM elementem poniżej headera -->
<nav id="main-nav">
    <a href="/" class="links-white">Start</a>
    <a href="/rekomendacje/" class="links-white">Rekomendacje</a>
    <a href="/kalendarium/" class="links-white">Kalendarium</a>
</nav>