<!-- top line -->
<header>
    <div id="top-line">
        <h1><a href="/" class="links-white" id="name">Mikołaj Wybacz</a></h1>        
        
        <div id="social">
            <a href="https://www.youtube.com/channel/UCXCmBdBhyWbpjSAGguDQkfA" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/mecowhy2201/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004851826024/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/mikolaj-wybacz/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</header>

<!-- Nawigacja poza <header>, żeby efekt "sticky" działał tak jak chce (bo on przykleja element do jego parent rodzica, a nie absolutnie do okna) -->
<nav id="nav">
    <a href="/" class="links-white">Start</a>
    <a href="/rekomendacje/" class="links-white">Rekomendacje</a>
    <a href="/kalendarium/" class="links-white">Kalendarium</a>
</nav>