<header>
    <!-- top line -->
    <div id="top-line">

        <h1>
            <a href="/" class="links-white" id="name">Mikołaj Wybacz</a>
        </h1>        
        
        <div id="social">
            <a href="https://www.youtube.com/channel/UCXCmBdBhyWbpjSAGguDQkfA" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/mecowhy2201/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004851826024/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/miko%C5%82aj-wybacz-072284189/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/meco-why/Web/" class="links-white" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>

    <!-- bottom line -->
    <nav>
        <a href="/" class="links-white">Home</a>
        <a href="/de-inventione/" class="links-white roman-rustic">DE INVENTIONE</a>
        <!-- <a href="/physics_timeline" class="links-white">Physics Timeline</a> -->
        <a href="/hora-inmensa/" class="links-white">Hora inmensa</a>
        <!-- <a href="/IPA" class="links-white">IPA</a> -->
        <a href="/polecajki/" class="links-white">polecajki</a>
        <!-- <a href="/plan" class="links-white">PLAN AGH</a> -->
        <a href="/psm/" class="links-white">PSM</a>
        <a href="/akordeon/" class="links-white">akordeony</a>
        <a href="/test/" class="links-white">test</a>
    </nav>
</header>
