main {
    display: flex;
    flex-direction: column;

    /* padding: 1rem; */
    margin-left: 1rem;
    list-style-position: inside;
    /* list-style-type: square; */
}

main h1 {
    font-size: medium;
}

ul {
    padding-left: 1rem;
}