main{
    padding: 1rem;
    border: 2px solid #2b00ff;
}

.chart {
  display: grid;
  grid-template-columns: repeat(16, 3rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 0.2rem;
  font-size: 2rem;
  text-align: center;

}

.cell {
  border: 1px solid #19f09a;
  padding: 0.3rem;
}

.tableheader {
  border: 1px solid #ff1a1a;
  padding: 0.3rem;
  font-weight: bold;
  grid-column: span 2;
  font-size: 1rem;

}




#voiced_button:hover ~ .chart .voiced{
    background-color: #10c042;
    font-weight: bold;
}
#unvoiced_button:hover ~ .chart .unvoiced{
    background-color: #10c042;
    font-weight: bold;
}




.highlight {
  background: yellow;
}